/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

#game-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.background {
    background-image: url('images/background/jungle.jpeg');
    background-size: cover; /* L'image couvre tout l'écran */
    background-position: center; /* Centré */
    background-repeat: no-repeat; /* Pas de répétition de l'image */
}

/* Section gauche */
#left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}



#left-section img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#left-section p {
    font-size: 1.5em;
    margin-top: 10px;
}

/* Section milieu (avec les étages) */
#middle-section {
    height: 100%; /* Hauteur fixe pour le conteneur parent */
    overflow-y: auto; /* Permet le défilement vertical */
    padding: 10px; /* Optionnel : Ajoute un peu d'espace autour */
    border: 1px solid #ccc; /* Optionnel : Pour visualiser le conteneur */
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;

}

.etage {
    background-image: url("images/planche_bois.png");
    background-size: cover; /* L'image couvre le conteneur */
    background-position: center; /* Centré */
    width: 90%;
    height: 27%; /* Hauteur fixe pour uniformiser tous les étages */
    display: flex;
    justify-content: center;
    align-items: center; /* Centrage vertical */
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden; /* Cache le débordement si l'image est trop grande */
    padding: 10px;
    
}


.minerai-container {
    flex: 1; /* Permet au conteneur du minerai de prendre l'espace disponible */
}

.lock-icon {
    width: 20px; /* Ajustez la taille de l'icône du cadenas */
    height: auto; /* Conserve le ratio de l'image */
}

.etage img {
    height: 60%; /* Ajuste la hauteur de l'image pour qu'elle remplisse le conteneur */
    width: auto; /* Laisse la largeur s'ajuster automatiquement */
    max-width: 100%; /* Ne pas dépasser la largeur de son conteneur */
    object-fit: contain; /* Maintenir les proportions de l'image */
    margin-right: 30px;
    margin-left: 30px;
}



.etage.locked {
    filter: grayscale(80%); /* Rend l'image en niveaux de gris */
    pointer-events: none; /* Désactive les interactions */
}



.etage p {
    font-size: 1.5em;
    font-weight: bold;
}

.zoom { 
    transform: scale(1.15); 
    transition: transform 0.1s ease; 
    z-index: 1; 
}

/* Style de base pour le texte "+1" */
.score-increment {
    position: absolute;
    color: #ffffff; 
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    animation: floatUp 1s ease-out forwards;
    z-index: 10;
}

/*  faire monter et disparaître l'élément */
@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px); /* le +1 monte de 30 pixels */
    }
}


/* Section droite */
#right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Changed to 'flex-start' for proper alignment */
    align-items: center;
    padding: 10px; /* Espace intérieur */
    max-height: 100%; /* Hauteur maximale pour la section */
    overflow-y: auto; /* Permet le défilement vertical */
    border: 1px solid #ccc; /* Bordure pour délimiter la section */
    width: 250px; /* Largeur fixe pour la section droite */
}

#right-section button {
    margin: 10px 0;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #0836a4;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#right-section button:hover {
    background-color: #0d0871;
}

.etage-container {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Arrière-plan semi-transparent */
    border-radius: 8px; /* Coins arrondis */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordure légère */
}


/* Rendre les étages scrollables si la page est pleine */
#middle-section::-webkit-scrollbar {
    width: 10px;
}

#middle-section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Rendre les boutons d'achats scrollables si la page est pleine */
#right-section::-webkit-scrollbar {
    width: 10px;
}

#right-section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Popup hover */
#elementToPopup_bonus, #elementToPopup_autoclicker, #elementToPopup_max_attente, #elementToPopup_transport {
    display: none;
    position: absolute;
    top: 30px;
    left: 7px;
    background-color: #555;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    z-index: 999;
}

.hiddenimg {
    z-index: 999;
}

/* style bouton du site 85+ CSS Buttons*/

/* Couleurs principales */
:root {
    --fuschia: #ba2323;
    --button-bg: #cecece;
    --button-text-color: #000000;
    --baby-blue: #071f5b;
}

/* Style du body */
body {
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    background-color: var(--baby-blue);
}

/* Style des boutons "bubbly" */
.bubbly-button {
    font-family: 'Helvetica', 'Arial', sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    margin-top: 100px;
    margin-bottom: 60px;
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 255, 255, 0.5);
}

.bubbly-button:focus {
    outline: 0;
}

.bubbly-button:before,
.bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, transparent 20%, var(--button-bg) 20%, transparent 30%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, transparent 10%, var(--button-bg) 15%, transparent 20%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, transparent 10%, var(--button-bg) 15%, transparent 20%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%),
                      radial-gradient(circle, var(--button-bg) 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
    transform: scale(0.9);
    background-color: rgba(25, 125, 201, 0.8);
    box-shadow: 0 2px 25px rgba(211, 105, 34, 0.2);
}

.bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}


/* Tout l'écran */

.bonus-doree {
    position: absolute;
    width: 100px;
    height: 120px;
    background-image: url('images/trophy.png');
    background-size: cover;
    cursor: pointer;
    z-index: 9999;
    animation: mouvementAleatoire 5s infinite alternate ease-in-out;
    max-width: 40%;
    max-height: 40%;    
}

@keyframes mouvementAleatoire {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-40px, 56px);
    }
    50% {
        transform: translate(100px, 20px);
    }
    75% {
        transform: translate(80px, -40px);
    }
    85% {
        transform: translate(60px, 80px);
    }
    100% {
        transform: translate(90, 46);
    }
}



/* Styles de la popup */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Arrière-plan semi-transparent */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay:target {
    display: flex; /* Affiche l'overlay quand le lien est cliqué */
}

.popup {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup h2 {
    margin: 0 0 10px;
    font-size: 24px;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #333333;
}

.popup .content {
    font-size: 16px;
}


.acheter-button {
    background-color: #212121; /* Couleur de fond sombre */
    color: #fff; /* Couleur du texte blanche */
    border: none; /* Supprime la bordure par défaut */
    padding: 10px 20px; /* Espacement intérieur */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur en forme de main */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s, transform 0.3s; /* Transition douce pour l'effet de survol */
    box-shadow: 0 3px 25px rgba(44, 213, 216, 0.5);
}

.acheter-button:hover {
    background-color: #333232; /* Couleur de fond légèrement plus claire au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

.white-text {
    color: white; /* Met le texte en blanc */
}


#left-section {
    display: flex; /* Utilisation de Flexbox pour centrer */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
}

#container {
    padding: 20px; /* Espace autour de la section */
    background-color: #2c3e50; /* Couleur de fond de la section */
    color: white; /* Couleur du texte de la section */
    border-radius: 12px; /* Coins arrondis */
    height: 65%; /* Hauteur automatique */
    width: 90%; /* Largeur de 50% */
}

.score-block {
    width: 50%; /* Largeur de 50% */
    margin: 20px auto; /* Centre le bloc horizontalement */
    padding: 15px; /* Espace interne */
    background-color: rgba(255, 255, 255, 0.2); /* Fond semi-transparent pour le bloc */
    border: 1px solid white; /* Bordure blanche */
    border-radius: 8px; /* Coins arrondis */
    text-align: center; /* Centre le texte à l'intérieur du bloc */
}

#score {
    font-size: 24px; /* Taille de police du score */
    font-weight: bold; /* Texte en gras pour le score */
}


